<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Draper入門 - Decoratorパターン</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/simple.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!-- Customize Style -->
		<style>
			.reveal ul li { margin: 1.0em 0; }
			.reveal section img {
				border: none;
				box-shadow: none;
				vertical-align: middle;
			}
		</style>

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown data-separator="^\n---$" data-separator-vertical="^\n--$">
					<script type="text/template">
						<div style="margin-top: 4.5em;"> </div>

						### Draper入門 - Decoratorパターン
						#### Introduction to Draper - Decorator Pattern
						<div style="margin-top: 5.5em; font-size: 0.8em; text-align: right;">2018/04/10 Taiki Hiramatsu</div>

						---
						### Draperとは...の前に
						

						--
						### MVCモデルについておさらい
						
						--
						### MVCのイメージ図
						![MVC Image](MVCImage.png)

						--
						### なぜ３つのレイヤーに分かれているのでしょう...

						--
						### それぞれのレイヤーの役割
						* Model：
							ビジネスロジック (多くの場合データベース関連のリソースの操作)
						* View：
							ユーザへ情報を表示
						* Controller：
							ユーザからの入力を元にModel, Viewを操作

						---
						### Railsのレイヤー構造 (1)
						<div style="font-size: 0.9em;">Railsプロジェクトapp下のディレクトリ構造 (Rails 5)</div>
						* assets：画像, Javascript, CSSなどのアセットを格納
						* channels：ActionCable用
						* jobs：ActiveJob用
						* mailers：ActionMailer用
						
						--
						### Railsのレイヤー構造 (2)
						<div style="font-size: 0.9em;">Railsプロジェクトapp下のディレクトリ構造 (Rails 5)</div>
						* <span style="color: #e74c3c">models</span>：ビジネスロジック (データベースなどのリソース操作)
						* <span style="color: #e74c3c">views</span>：HTML, JSONなどインターフェースを表示
						* <span style="color: #e74c3c">controllers</span>：ユーザからの入力を処理
						* <span style="font-weight: bold">helpers</span>：Viewの共通処理を関数としてまとめる(ことが多い)
						
						--
						### こんな風になったことありませんか？
						```Ruby
						# Viewにifなどの制御構文が大量に出現
						<% if @user.gender == "male" %>
							<div>C</div>
						<% elsif @user.gender == "female" %>
							<% if @user.type == "A" %>
								<div>A</div>
							<% elsif @user.type == "B" %>
								<div>B</div>
							<% end %>
						<% end %>
						```

						---
						### Draperとは
						* 公式リポジトリのディスクリプション：  
						『Decorators/View-Models for Rails Applications』
						* 類似のGem：「ActiveDecorator」

						---
						### Decorator / View-Model
						* Decoratorパターン  
							既存のオブジェクトをラップすることで、中身を直接触らなくても機能を拡張することが可能。  
							=> 継承との違いは？
						* View-Model
							ViewをModel化(抽象化)したもの

						--
						### Draperの機能
						* RailsプロジェクトにGemとして追加することで、RailsのレイヤーにDecorator層を追加  
							(app下に`decorators`ディレクトリが追加され、`rails g decorator User`のようなジェネレータが使えるようになる)

						--
						### Draperのメリット / Helperとの違い
						* RailsのViewHelper内メソッドはあるオブジェクトに紐づいたものではなく、多くなればなるほど汚染や衝突のリスクが高い
						* 既存のアクセサをオーバライドするイメージで使えるため、ViewとModelで同じ名前のアクセサを利用できる

						---
						### まとめ
						* Decoratorを適切に利用することで、Viewのロジックを減らし可読性を高められる。
						* しかし、層を導入することは学習コスト面、メンテナンスコストなどの面を考慮する必要がある。 

						---
						### 参考サイト
						- [Draper - Github](https://github.com/drapergem/draper)
						- [10分で振り返るソフトウェアアーキテクチャの歴史2017](https://speakerdeck.com/takasek/10fen-tezhen-rifan-rusohutoueaakitekutiyafalseli-shi-2017)
						- [Webアプリケーション開発者から見た、MVCとMVP、そしてMVVMの違い - Qiita](https://qiita.com/shinkuFencer/items/f2651073fb71416b6cd7)
						- [Decoratorの役割とDraperについて - Qiita](https://qiita.com/jonson29/items/00077b54bb91ed74fdb8)

					</script>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
