<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>ライブラリ分解 - Kaminari</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/simple.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!-- Customize Style -->
		<style>
			.reveal ul li { margin: 1.0em 0; }
			.reveal section img {
				border: none;
				box-shadow: none;
				vertical-align: middle;
			}
		</style>

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown data-separator="^\n---$" data-separator-vertical="^\n--$">
					<script type="text/template">
						### ライブラリ分解 - Kaminari
						#### Understanding Library Structure - Kaminari
						<div style="margin-top: 1.2em; font-size: 0.8em;">2018/02/14 Taiki Hiramatsu</div>

						---
						### Kaminariとは
						* ページネーション機能(長いコンテンツをページ分割する機能)を提供するGem
						* Kaminariはリソース(多くの場合DBのレコード)にページ分割用のインタフェースを追加してくれる
						* ルーティングやリソースの分割方法に開発者がほとんど気を使わずともページネーションを実装できる

						--
						### こんな見た目のやつです
						![ページネーション例](ex_pagination.jpg)

						--
						### Kaminariの使い方
						Gemfileに記述を追加するだけでRailsの各モデルにページネーション機能が追加される
						```Ruby
						# Gemfile
						gem 'kaminari'
						```

						--
						### 例. Userをページネーションさせる
						```Ruby
						# Controller側 (app/controllers/users_controller.rb)
						def UsersController < ApplicationController
							def index
								@users = User.page(params[:page])
						    end
						end
						```
						```Ruby
						# View側 (app/views/users/index.html.erb)
						<% @users.each do |user| %>
							# ユーザ表示のイテレーション
						<% end %>
						# ページネーションのUIを表示
						<%= paginate @users %>
						```
						<span>表示されるUI：</span>
						![ページネーションUI](paginate.jpg)

						---
						### Gemの中身を覗いてみよう

						```Ruby
						# lib/kaminari.rb

						# lib/kaminari/railtie.rb
						module Kaminari
							class Railtie < ::Rails::Railtie #:nodoc:
								initializer 'kaminari' do
									Kaminari::Hooks.init
								end
							end
						end
						```

						--
						### ActiveRecord, ActionViewを拡張

						```Ruby
						# lib/kaminari/hooks.rb
						module Kaminari
							class Hooks
								def self.init
									# ActiveRecordを拡張
									ActiveSupport.on_load(:active_record) do
										require 'kaminari/models/active_record_extension'
										::ActiveRecord::Base.send :include, Kaminari::ActiveRecordExtension
									end

									# ... 中略 ...

									# ActionViewを拡張
									ActiveSupport.on_load(:action_view) do
										::ActionView::Base.send :include, Kaminari::ActionViewExtension
									end
								end
							end
						end
						```

						--
						### ActiveRecordの拡張
						```Ruby
						# lib/kaminari/model/active_record_extension
						module Kaminari
							module ActiveRecordExtension
								extend ActiveSupport::Concern

								module ClassMethods
									# Future subclasses will pick up the model extension
									def inherited(kls) #:nodoc:
										super
										kls.send(:include, Kaminari::ActiveRecordModelExtension) if kls.superclass == ::ActiveRecord::Base
									end
								end

								included do
									# Existing subclasses pick up the model extension as well
									self.descendants.each do |kls|
										kls.send(:include, Kaminari::ActiveRecordModelExtension) if kls.superclass == ::ActiveRecord::Base
									end
								end
							end
						end
						```

						--
						### ページネーション用のメソッドを定義
						```Ruby
						module Kaminari
							module ActiveRecordModelExtension
								extend ActiveSupport::Concern

								included do
									self.send(:include, Kaminari::ConfigurationMethods)

									# Fetch the values at the specified page number
									#   Model.page(5)
									eval <<-RUBY
										def self.#{Kaminari.config.page_method_name}(num = nil)
											limit(default_per_page).offset(default_per_page * ((num = num.to_i - 1) < 0 ? 0 : num)).extending do
												include Kaminari::ActiveRecordRelationMethods
												include Kaminari::PageScopeMethods
											end
										end
									RUBY
								end
							end
						end
						```

						---
						### Kaminariのレイヤー別機能
						* [Model] リソースにページ分割に対応したインターフェースを追加
						* [View] ページネーションのUI(ViewHelper)を提供
						* [Controller] ページ分割に対応したルーティングを追加

						---
						### ActiveRecord以外への対応
						* MongoDBのORマッパーであるMongoid, MongoMapperにも対応
						* つまり、RDB(ActiveRecord)と一部のNoSQL(実質MongoDBのみ)で利用可能
						* それ以外のデータ構造に適用させたいときは...

						--
						### 解決策その１
						paginate_arrayを利用する
						```Ruby
							# 例えばAPI経由で取得したデータに対して
							api_response = User::API.all
							# 配列で取得したデータをページネーションオブジェクトへ変換
							@users = Kaminari.paginate_array(api_response)
						```
						* メリット：配列で表せるものであれば(実質的に何でも)ページネート可能
						* デメリット：パフォーマンス的にページネーションの意味をなしていない
						
						--
						### 解決策その２
						自身でPaginatableなオブジェクトを作る
						メリット：パフォーマンス、スケーラビリティに考慮した設計が可能
						デメリット：設計難易度が高い上に非公式的なサポート
						
						---
						### まとめ
						* RailsのGemはこのような拡張手段をとることが非常に多いため、構造を理解しておくと自身である程度カスタマイズ可能
						* Railsを含めライブラリの内部コードを見ることは、設計など知識を深めることに繋がる

						---
						### 参考サイト
						- [Kaminari - Github](https://github.com/kaminari/kaminari)
						- [Rails の初期化プロセス - Rails Guides](https://railsguides.jp/initialization.html)

					</script>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
